body {
    background-color:#2E294E;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #474E59;
    padding: 50px;
    margin: 0;
    text-align: center;
    color: white;
}

.add {
    background-color: #1C7C54;
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
}

.add > h3 {
    color: white;
}

label {
    color: white;
    font-size: 18px;
}

.fields {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-button {
    margin-left: 39%;
}

#library-container {
    background-color: #474E59;
    margin: 20px;
    padding: 50px;
    border-radius: 5px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    border-radius: 10px;
    padding: 10px;
    background-color: saddlebrown;
}